:root {
    --main-first-color: #538f3f;
    --main-second-color:#ffa500;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.main{
    min-height: calc(100vh - 56px - 80px);
}

@media screen and(min-width:992px){
    .main{
        min-height: calc(100vh - 74px - 56px - 80px);
    }
}

.page-width{
    max-width: 1440px;
    padding-right:5rem;
    padding-left:5rem;
    margin:0 auto;
}

img{
    max-width: 100%;
    height: auto;
    aspect-ratio: initial;
    display: block;
}

.bg-color-first{
    background-color: var(--main-first-color);
    color: white;
}

.bg-color-second{
    background-color: var(--main-second-color);
    color: white;
}

.text-color-first,
.text-color-second:hover,
.text-color-second:focus{
    color: var(--main-first-color);
}

.text-color-second,
.text-color-first:hover,
.text-color-first:focus{
    color: var(--main-second-color);
}