{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/css/home/footer.css' %}">
{% endblock %}

<footer class="footer container-fluid mt-auto py-1 bg-gradient bg-color-second">
    <div class="footer__inner" style="width: 100%;max-width:800px; margin:0 auto;">
        <div class="row">
            <div class="col-12" style="display: flex; flex-direction: column; justify-content: center;">
                <p class="m-0 text-center ">Made by Arthur Martins</p>
                <p class="m-0 text-center">
                    <a class="social-btn " href="https://github.com/" target='_blank' rel="noopener"
                        aria-label="Visit my Github page"><i class="fab fa-github"></i></a>
                    <a class="social-btn  " href="https://www.facebook.com/Fit-At-Home-104447422230293"
                        target='_blank' rel="noopener" aria-label="Visit my Facebook page"><i
                            class="fab fa-facebook ms-3"></i></a>
                    <a class="social-btn " href="https://twitter.com/" target='_blank' rel="noopener"
                        aria-label="Visit my Twitter page"><i class="fab fa-twitter ms-3"></i></a>
                    <a class="social-btn " href="https://www.instagram.com/" target='_blank' rel="noopener"
                        aria-label="Visit my Instagram page"><i class="fab fa-instagram ms-3"></i></a>
                </p>
                <p class="m-0 text-center "><a class='social-btn ' href="https://www.privacypolicygenerator.info/live.php?token=g7nNWGm35To6Xk7Sbdvi427SvOlbvlgG" target="_blank" rel="noopener noreferrer">Privacy Policy</a></p>
            </div>
        </div>
    </div>
</footer>