{% load static %}

<div class="row d-lg-none">

    <div class="col-4 p-0">
        <div class="list-inline-item w-100 dropdown">
            <a class="nav-link text-color-second" href="/" id="mobileNavbarDropdown" data-bs-toggle="dropdown"
                aria-expanded="false">
                <div class="text-center">
                    <div><i class="fas fa-user fa-lg"></i></div>
                </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="mobileNavbarDropdown">
                {% if request.user.is_authenticated %}
                    <a href="/" class="dropdown-item">My Profile</a>
                    <a href="/" class="dropdown-item">Logout</a>
                {% else %}
                    <a href="/" class="dropdown-item">Register</a>
                    <a href="/" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-4 p-0">
        <div class="list-inline-item w-100">
            <a class="nav-link text-color-second" href="/">
                <div class="text-center">
                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                    <p class="my-0">
                        
                    </p>
                </div>
            </a>
        </div>
    </div>


    <div class="col-4 p-0">
        <div class="list-inline-item w-100">
            <a class="nav-link d-block d-lg-none text-color-second" href="/" id="mobileSearch" data-bs-toggle="dropdown"
                aria-expanded="false">
                <div class="text-center">
                    <div><i class="fas fa-search fa-lg"></i></div>
                </div>
            </a>
            <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobileSearch">
                <form class="form" method="GET" action="/">
                    <div class="input-group w-100">
                        {% csrf_token %}
                        <input class="form-control border text-color-second rounded-0" type="text" name="q"
                            placeholder="Search">
                        <div class="input-group-append">
                            <button class="btn text-color-second" name='search_button'
                                type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row d-lg-none">
    <div class="list-inline-item">
        <a class="navbar-brand m-auto" href="/">
            <img src="{% static 'images/logo.png' %}" alt="Fit At Home logo" width="170" height="170">
        </a>
    </div>
</div>