<div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="font-weight-bold nav-link me-5" href="/">
                Home
            </a>
        </li>
        
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle me-5" id='all-products-link' data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle me-5" id='collections-link' data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                Collections
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="collections-link">

            </div>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link me-5" href="/">
                Blogs
            </a>
        </li>
    </ul>
</div>