.navbar-light .navbar-toggler{
    border: none;
}

.navbar-brand img{
    width: 40px;
    height:40px;
    margin: auto;
}

@media screen and (max-width:349px){
    .navbar-toggler-icon{
        height:1.25em;
        width:1.25em;
    }

    .nav-link i.fas{
        font-size: 1.25em;
    }

    .navbar-brand img{
        width: 30px;
        height:30px;
    }
}

.form-control{
    border-color: var(--main-first-color);
}

.form-control:focus{
    border-color: var(--main-second-color);
    box-shadow: 0 0 0 0.25rem rgb(255 169 34 / 25%);
}

.form-control::placeholder{
    color:inherit;
}

@media screen and (min-width:992px){
    .navbar-brand img{
        width: 50px;
        height:50px;
    }
}